
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "badr badr2 badr3 badr4"
      ". . . ."
      ". . . ."
      ". . . .";
  }
  
  .badr { grid-area: badr;
        background-color: black; }
  
  .badr2 { grid-area: badr2; }
  
  .badr3 { grid-area: badr3; }
  
  .badr4 { grid-area: badr4; }
  